.mat-card {
    margin: 20px;
}

.small-top-mat-card {
    display: flex;
    flex-direction: row;

}

.count-card {
    width: 25%;
    justify-content: center;
    align-items: center;
    // mat-card-title{
    //     align-items: center;
    //     justify-content: center;
    //     background-color: ;
    // }
}

table {
    width: 100%;
    th {
        text-transform: capitalize;
    }
    td{
        text-transform: capitalize;
    }

}